<%= form_for(@guest, :html => { :class => "form-horizontal"} ) do |f| %>
  <% if @guest.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
      <% @guest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :phone, 'Phone Number', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :phone, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :check_in, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.datetime_select :check_in, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :checkout, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.datetime_select :checkout, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :preferred_language, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.select :preferred_language, options_for_select([[:english, :en],[:spanish, :es]]), class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    </div>

<% end %>