<p id="notice alert alert-info"><%= notice %></p>

<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Name:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @device.name %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Beacon:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @device.beacon_id %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Device type:</label>
    <div class="col-sm-10">
      <p class="form-control-static"><%= @device.device_type %></p>
    </div>
  </div>
</form>

<%= link_to ' Edit', edit_device_path(@device), class: 'pull-right btn btn-warning glyphicon glyphicon-pencil' %>
<%= link_to ' Back', devices_path, class: 'pull-left btn btn-default glyphicon glyphicon-arrow-left' %>