<p id="notice"><%= notice %></p>

<p>
  <strong>Device:</strong>
  <%= @pic.device %>
</p>

<p>
  <strong>Base 64:</strong>
  <%= @pic.base_64 %>
</p>

<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
